/* Basic Grey */
.basic-grey {
	margin-left:auto;
	margin-right:auto;
    max-width: 1024px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    color: #888;
    border:1px solid #E4E4E4;
}
.basic-grey h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #888;
}
.basic-grey h1>span {
    display: block;
    font-size: 11px;
}

.basic-grey table {
	width: 100%;
}

.basic-grey h1 {
	text-align: center;
}