<div class="nested-fields">
    <div class="row col-md-12">
        <label class="col-md-3">
            <span>
                <%= f.label :phone %>
            </span>
        </label>
        <%= f.text_field :phone, class: "form-control col-md-6" %> 
        <div class="col-md-3">
            <%= link_to_remove_association('[Remover Telefone]', f) %>
        </div>
    </div>
</div>